.App {
  text-align: center;
  background-color: #3264B3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #3264B3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-style: italic;
  color: #FE9453;
}

.App-login-button-taster{
  color:#3062B1;
  background-color: #FE9453;
  width: 300px;
  height: 200x;
}
.App-login-button-visitor{
  color:#3062B1;
  background-color: #FE9453;
  width: 300px;
  height: 200x;
}
.App-login-button-hawker{
  color:#3062B1;
  background-color: #FE9453;
  width: 300px;
  height: 200x;
}
.blank-between-button{
  color:#3062B1;
  width: 100px;
  height: 100x;
}
.login-header{
  color: #FE9453;
  font-style: oblique;
  height: 30px;
}
.id-table{
  background-color:#3062B1;
  width: 200px;
  height: 200x;
}
.or{
  font-size: smaller;
  width: 400px;
  height: 200x;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
